{% extends 'index.html' %}
{% load static %}
{% block content %}
    <p class="h1 text-info bg-light pb-2 ps-2 rounded-3">Dashboard  </p>
    <span>
        {% for i in item %}
            <div class="bg-light overflow-auto rounded-3" style=" ">
                <div><br></div>
                <div class="px-4 "> <h1 class="bg-info text-dark fst-italic text-wrap px-3">ID Number:   {{i.idno}} </h1> </div>
                <div class="px-4 "> <h5 class="bg-warning text-dark fw-bold fst-italic text-wrap px-3">Name of the product:   {{i.name}} </h5> </div>
                <div class="px-4 "> <h5 class="bg-warning text-dark fw-bold fst-italic text-wrap px-3">Name of the company:   {{i.company}} </h5> </div>
                <div class="px-4 "> <h5 class="bg-warning text-dark fw-bold fst-italic text-wrap px-3">Price of the product:   {{i.price}} </h5> </div>
                <div class="px-4 "> <h5 class="bg-warning text-dark fw-bold fst-italic text-wrap px-3">Quantity of the product:    {{i.quantity}} </h5> </div>
                <div class="d-flex justify-content-center  ">
                                            <div >
                                                <form action="update/{{i.id}}/" method="post">
                                                    {% csrf_token %}
                                                    <input class=" btn btn-primary  mx-1 mt-1" type="submit" value="Edit">
                                                </form> 
                                            </div>    
                                        
                                            <div>
                                                <form action="delete/{{i.id}}/" method="post">
                                                    {% csrf_token %}
                                                    <input class=" btn btn-danger  mx-1 mt-1" type="submit" value="Delete">
                                                </form> 
                                            </div>
                </div>
                <div><br></div>

            </div>  
        {% endfor %}
        
    </span>
    <br> 
    <br>
    <a class="btn bg-info fw-bold " href="{%url 'upload' %}">Upload form</a>
{% endblock %}